.unstyledButton {
    border-style: none;
    background-color: transparent;
}

.view {
    @extend .fillViewport;
    @extend .col;
}

.viewBottomPadding {
    height: 50vh;
}

$main-pad: 10px;

.toolbar {
    @extend .row;
    height: 30px;
    padding: $main-pad;
}

$standard-border-color: #aaaaaa;

.separator {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
}

.codeStyle {
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 26px;
    font-size: 18px;
}

.ideaList {
    @extend .col;
    line-height: 24px;
}

.listItem {
    @extend .row;
}

.listItem:before {
    content: "• ";
    white-space: pre;
}

$overview-width: 200px;

.ruleOverview {
    @extend .col;
    width: $overview-width;
}

.componentList {
    flex-grow: 1;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: $standard-border-color;
    line-height: 22px;
}

.component {
    @extend .noSelect;
    @extend .codeStyle;
    padding: 6px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $standard-border-color;
}

.incompleteCardSummaryText {
    font-style: italic;
}

.addRuleButton {
    background-color: #b6d6ff;
}

.rightPane {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
}

.ruleGraphView {
// create an origin for child "absolute" positioning
    position: relative;
    height: 800px;
    overflow: hidden;
}

.dataView {
    height: 300px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $standard-border-color;
}

$box-shadow-color: #979797;
$standard-box-shadow: 1px 1px 3px 2px $box-shadow-color;

.labelError {
    background-color: #ffbfbf;
}

$rule-card-width: 29%;
$rule-anim-duration: 0.6s;

.ruleCardProps {
    position: absolute;
    box-sizing: border-box;
    width: $rule-card-width;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 16px;
// animation
    transition-property: z-index, left, top;
    transition-duration: $rule-anim-duration; // for movement animation
}

.ruleCard {
    @extend .ruleCardProps;
    z-index: 0; // manipulated in JS
    @extend .col;
// border for delimiting adjacent cards
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
    background-color: white;
}

$error-back-color: #ffbfbf;

.ruleCardError {
    background-color: $error-back-color;
}

.ruleCardShadow {
    @extend .ruleCardProps;
    z-index: -1; // manipulated in JS
    box-shadow: $standard-box-shadow;
}

.deleteCardButton {
    position: absolute; // relative to the rule card (parent)
    left: -37px;
    top: 1px;
    @extend .unstyledButton;
    @extend .noSelect;
    color: #aaaaaa;
    font-size: 1.2em;
}

.ruleCardTextWrapper {
    position: relative; // reference point for glyphs
    @extend .col; // so textarea can fill width
}

.cardGlyphs {
    position: absolute;
    left: -33px;
    @extend .codeStyle;
    white-space: pre;
    pointer-events: none; // prevent invisible glyphs from blocking delete button
}

.cardGlyph {
    box-sizing: content-box;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
    color: black;
    background-color: white;
}

.ruleCardTextArea {
    @extend .codeStyle;
    overflow-y: hidden;
    resize: none;
    border-style: none;
    padding: 0;
    background-color: transparent;
}

.errorText {
    padding-top: 8px;
    margin-bottom: -8px;
    background-color: $error-back-color;
    white-space: pre;
    line-height: 22px;
}