@font-face {
    font-family: NotoSans;
    src: url(NotoSans-Regular.ttf);
}

$standard-box-shadow: 1px 1px 3px 1px #777777;
$thick-box-shadow: 1px 1px 3px 2px #909090;

.unstyledButton {
    border-style: none;
    background-color: transparent;
}

.view {
    @extend .fillViewport;
    @extend .col;
    background-color: #eeeeee;
    font-family: NotoSans, sans-serif; // Do I actually prefer the default (Helvetica?)
}

.viewBottomPadding {
    height: 50vh;
}

$main-pad: 10px;

.toolbar {
    @extend .row;
    height: 30px;
    padding: $main-pad;
}

$standard-border-color: #aaaaaa;

.separator {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
}

.codeStyle {
    font-family: "Lucida Console", Monaco, monospace;
    //font-family: NotoSans, sans-serif;
    line-height: 26px;
    font-size: 18px;
}

.ideaList {
    @extend .col;
    line-height: 24px;
}

.listItem {
    @extend .row;
}

.listItem:before {
    content: "• ";
    white-space: pre;
}

$overview-width: 200px;

.ruleOverview {
    flex-shrink: 0;
    @extend .col;
    width: $overview-width;
}

.componentList {
    flex-grow: 1;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: $standard-border-color;
    line-height: 22px;
   // draw the sidebar in front of the graph view
    position: relative;
    z-index: 1;
}

// Box shadows don't work with clip paths, so we have to use a
// CSS filter that approximates the box shadow parameters.
.component {
    position: relative;
    box-sizing: border-box;
    width: 105%;
    margin-bottom: 14px;
// animation
    transition-property: left;
    transition-duration: 0.2s;
}

.relation {
    @extend .noSelect;
    @extend .codeStyle;
    //font-family: NotoSans, serif;
    font-size: 18px;
    padding: 6px;
    background-color: #af2b2b;
    color: white;
    padding-left: 14px;
    clip-path: polygon(100% 0%, 94% 50%, 100% 100%, 6% 100%, 0% 50%, 6% 0);
}

.incompleteCardSummaryText {
    font-style: italic;
}

.addRuleButton {
    background-color: #b6d6ff;
}

.ruleGraphView {
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
    filter: drop-shadow(1px 1px 3px #777777);
// create an origin for child "absolute" positioning
    position: relative;
    z-index: 0;
    height: 800px;
    overflow: hidden;
}

.dataView {
    height: 300px;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $standard-border-color;
}

.labelError {
    background-color: #ffbfbf;
}

$rule-anim-duration: 0.6s;

.cardProps {
    position: absolute;
    box-sizing: border-box;
// animation
    transition-property: z-index, right, top, width, height, opacity;
    transition-duration: $rule-anim-duration; // for movement animation
}

.relationBanner {
    @extend .cardProps;
    @extend .codeStyle;
    //font-family: NotoSans, serif;
    font-size: 18px;
    user-select: none;
    padding: 6px;
    background-color: #af2b2b;
    color: white;
    padding-left: 14px;
}

.ruleCard {
    @extend .cardProps;
    z-index: 0; // manipulated in JS
    @extend .col;
// border for delimiting adjacent cards
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
    background-color: white;
}

.ruleCardBody {
    flex-grow: 1;
    @extend .row;
}

$error-back-color: #ffbfbf;

.ruleCardError {
    background-color: $error-back-color;
}

.ruleCardShadow {
    @extend .cardProps;
    z-index: -1; // manipulated in JS
    box-shadow: $standard-box-shadow;
}

.ruleDataSide {
    @extend .col;
    width: 140px;
    margin-right: 8px;
    transition-property: width;
    transition-duration: $rule-anim-duration;
}

.searchBarStyle {
    position: relative;
    z-index: 1; // Render on top of search content
    box-shadow: $thick-box-shadow;
    background-color: white;
}

.dataSearchBar {
    @extend .searchBarStyle;
    @extend .row;
    overflow-x: hidden;
}

.dataSearchIcon {
    align-self: center;
    height: 16px;
    opacity: 70%;
    padding: 6px 4px 8px 6px;
}

.dataTextStyle {
    //@extend .codeStyle;
    font-family: NotoSans, serif;//, Monaco, monospace;
    font-size: 18px;
    padding: 6px 4px 6px 4px;
}

.dataSearchBox {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    border-style: none;
    @extend .dataTextStyle;
}

.dataTuckBar {
    @extend .row;
    @extend .searchBarStyle;
    font-style: italic;
}

.factCount {
    padding: 4px;
}

.dataScrollPane {
    direction: rtl; // put scroll bar on LHS
    flex-grow: 1; // Grow, with a minimum height as given
    height: 1px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 7px 5px 7px 5px;
    transition-property: height flex-grow;
    transition-duration: 0.3s;
    // border-style: solid;
    // border-right-width: 1px;
    // border-color: $standard-border-color;
}

.data {
    direction: ltr; // reset direction
    @extend .dataTextStyle;
    box-shadow: $standard-box-shadow;
    background-color: white;
    white-space: nowrap;
    overflow-x: hidden;
    transition-property: color;
    transition-duration: $rule-anim-duration;
}

.ruleCodeSide {
    align-self: flex-start; // don't stretch; we need to measure true size
    @extend .col;
    //width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 16px;
}

.deleteCardButton {
    @extend .unstyledButton;
    @extend .noSelect;
    color: #aaaaaa;
    font-size: 1.2em;
}

.ruleCardTextWrapper {
    position: relative; // reference point for glyphs
    @extend .row; // so textarea can fill width
}

// .cardGlyphs {
//     position: absolute;
//     left: 150px;
//     @extend .codeStyle;
//     white-space: pre;
//     pointer-events: none; // prevent invisible glyphs from blocking delete button
// }

// .cardGlyph {
//     box-sizing: content-box;
//     padding-left: 5px;
//     padding-right: 5px;
//     // border-style: solid;
//     // border-width: 1px;
//     // border-color: $standard-border-color;
//     color: black;
//     //background-color: white;
// }

.ruleCardTextArea {
    @extend .codeStyle;
    overflow-y: hidden;
    resize: none;
    border-style: none;
    padding: 0;
    background-color: transparent;
}

.errorText {
    padding-top: 8px;
    margin-bottom: -8px;
    background-color: $error-back-color;
    line-height: 22px;
}