.searchBox {
    @extend .col;
}

.textBoxInputContext {
    @extend .grow;
    @extend .col;
// create a stacking context for the input element to sit in
    position: relative;
    z-index: 0;
}

$text-box-h-padding: 3px;

.textBoxStyleTemplate {
// padding
    padding-left: $text-box-h-padding;
    padding-right: $text-box-h-padding;
    padding-top: 2px;
    padding-bottom: 2px;
// make sure the text box is visible when empty
    min-width: 12px;
// Webkit does weird stuff with line-height on input boxes
    box-sizing: content-box;
    height: 1em;
    line-height: 1em;
}

.textBoxInput {
    @extend .textBoxStyleTemplate;
    border-style: none;
    background-color: #00000000; // need to hide background so doesn't stomp on span border
// force width to fit parent -- requires the 1px to not scroll in Chrome
    position: absolute;
    z-index: 1; // sit on top of the size measure span so interaction still works
    width: calc(100% - 2 * #{$text-box-h-padding} + 1px);
}

// IMPORTANT: Needs to be listed after other CSS styles so that we can override
// colours that may be applied etc. to ensure this element is invisible.
.textBoxTextSizeMeasure {
    @extend .textBoxStyleTemplate;
    color: #00000000;
// put the span underneath the input element so that we can still interact
    position: relative;
    z-index: 0;
}

// Border style is for input el (so hover works), but is applied to the size measure el
.textBoxBorder + .textBoxTextSizeMeasure {
    outline-style: solid;
    outline-width: 1px;
    outline-color: $standard-border-color;
}

// only show border if the device actually has hover
@media(hover: hover) {
    .textBoxBorderOnHover:hover + .textBoxTextSizeMeasure {
        outline-style: solid;
        outline-width: 1px;
        outline-color: $standard-border-color;
    }
}

.searchResultsLocation {
// create a stacking context so we can render in front of rule cards
    position: relative;
    z-index: 1;
}

.searchResults {
    position: absolute; // relative to parent stacking context
    box-shadow: $standard-box-shadow;
}

.searchResult {
    @extend .row;
    @extend .noSelect;
    padding: 4px;
    background-color: #e5e5e5;
}

.highlighted {
    background-color: #ffff76;
}

.deleteButton {
    color: red;
}