{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "semi": "off",
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "only-multiline"
        }],
        "quotes": ["error", "double"],
        "eqeqeq": ["error", "always"],
        "no-implicit-coercion": "error",
        "@typescript-eslint/semi": ["error", "never"],
        "@typescript-eslint/strict-boolean-expressions": "error",
        "@typescript-eslint/interface-name-prefix": "off",
        // Unfortunately, Vue's "toRef" does not work on interfaces,
        // so sometimes type aliases are necessary.
        //"@typescript-eslint/consistent-type-definitions": "error",
        "@typescript-eslint/member-delimiter-style": ["error", {
            "singleline": {
                "delimiter": "comma",
                "requireLast": false
            },
            "multiline": {
                "delimiter": "none"
            }
        }],
        "@typescript-eslint/no-non-null-assertion": "off",
    }
}