/* generic styles */

.matchParentSize {
    // Note: don't use this in any parent with padding/multiple siblings
    width: 100%;
    height: 100%;
}

$standard-font-size: 16px;

body, button, menu {
    /* The font should be inherited by ALL elements (according to CSS reset),
     * however, most browsers ignore font inheritance for things like buttons.
     */
    font-family: Helvetica, Arial, sans-serif;
    font-size: $standard-font-size;
}

// Chrome does this stupid thing for inputs
input:focus {
    outline-offset: 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
 }

 .noWrap {
     white-space: nowrap;
 }

 .hiddenButAccessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
  }

/* component-specific styles */

.view {
    @extend .matchParentSize;
    @extend .col;
// create a stacking context so can we render the rule view (and its dropdowns)
// in front of other page elements
    position: relative;
    z-index: 0;
}

$main-pad: 10px;

.toolbar {
    @extend .row;
    height: 30px;
    padding: $main-pad;
}

$standard-border-color: #aaaaaa;

.separator {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
}

.ruleView {
    @extend .col;
// create a stacking context so can we render insertion points behind rule cards
    position: relative;
    z-index: 1;
}

.insertionPoint {
    transition: background-color 0.1s;
}

.insertionPoint:hover {
    background-color: #ffefbc;
    //height: $standard-font-size + 8px;
}

.ruleInsertionPoint {
    @extend .insertionPoint;
    height: 20px;
// create a stacking context so can we render behind rule cards
    position: relative;
    z-index: -1;
}

.linkInsertionPoint {
    @extend .insertionPoint;
    height: 20px;
}

$box-shadow-color: #979797;
$standard-box-shadow: 1px 1px 3px 2px $box-shadow-color;

.rule {
    margin-left: $main-pad;
    margin-right: $main-pad;
    box-shadow: $standard-box-shadow;
    align-self: flex-start;
}

.ruleLabel {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: $standard-border-color;
}

.ruleContent {
    @extend .col;
    padding-left: 8px;
    padding-right: 8px;
}

.ruleBody {
    @extend .col;
    padding-left: 16px;
}

.link {
    @extend .row;
    padding-top: 8px;
}

.linkSpacing {
    width: 4px;
}

.relation {
    color: rgb(153, 0, 255);
}

.searchBox {
    @extend .col;
}

.searchBoxInputContext {
    @extend .col;
// create a stacking context
    position: relative;
    z-index: 0;
}

.searchBoxInputPadding {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.searchBoxInput {
    @extend .searchBoxInputPadding;
    // match the width of my sibling, but don't consume space myself
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    font: inherit; // Important: needs to match the font of the span that computes my size 
    border-style: none;
    background-color: #00000000;
}

.outlined {
    outline-style: solid;
    outline-width: 1px;
    outline-color: $standard-border-color;
}

.searchBorder {
    @extend .outlined;
}

.searchBorderOnHover:hover {
    @extend .outlined;
}

.searchResultsLocation {
// create a stacking context so we can render in front of rule cards
    position: relative;
    z-index: 1;
}

.searchResults {
    position: absolute; // relative to parent stacking context
    box-shadow: $standard-box-shadow;
}

.searchResult {
    @extend .row;
    @extend .noSelect;
    padding: 4px;
    background-color: #e5e5e5;
}

.highlighted {
    background-color: #ffff76;
}

.noConceptOption {
    color: #9b0000;
}

.labelForNothing {
    background-color: #ffbfbf;
}

.newConceptOption {
    color: #036400;
}

.smallXSpacer {
    width: 8px;
}

.deleteButton {
    color: red;
}

// IMPORTANT: Needs to be listed after other CSS styles so that we can override
// colours that may be applied etc. to ensure this element is invisible.
.searchBoxTextSizeMeasure {
    @extend .searchBoxInputPadding;
    white-space: pre;
    color: #00000000;
    background-color: #00000000;
    // push down so height matches input element height + outline height
    padding-top: 5px;
}