//- Main view
div.col.fill
    div.toolbar
        button(@click = "resetState") Reset state
    div.database
        template(v-for = "(n, index) in dbEntryCount")
            template(v-if = "(insertingRule === null) || index < insertingRule.at")
                div.insertHere(@click = "newRule(index)")
                p.
                    {{ currentDB.rules[index] }}
            template(v-else-if = "index === insertingRule.at")
                input(
                    ref = "ruleInput"
                    v-model = "insertingRule.text"
                    placeholder = "Enter a rule..."
                    @keyup.enter = "ruleAdded"
                )
            template(v-else-if = "index > insertingRule.at")
                p.
                    {{ currentDB.rules[index-1] }}
                div.insertHere(@click = "newRule(index)")
        div.insertHere(@click = "newRule(dbEntryCount)")
        
        br
        p.
            Create a new constant:
        input(
            v-model = "constantInputText"
            @keyup.enter = "constantCreated"
        )
        p {{ constantInputText }}
        p.
            Existing matches:
        template(v-for = "match in searchMatches")
            p.
                Name [{{ match.key }}] for entity [{{ match.value }}]